// TODO: Estilos
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
//
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
//
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
$custom-colors: (
  "mml": #b84c47,
  "purple": #795bc9,
);
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.clip-path-circle {
  clip-path: circle(50% at 50% 50%);
}
.text-justify {
  text-align: justify !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

$cursores: "pointer", "not-allowed";

@each $cursor in $cursores {
  .cursor-#{$cursor} {
    cursor: $cursor;
  }
}
$objectFits: cover, contain;
@each $objectFit in $objectFits {
  img {
    max-width: 100%;
    &.object-fit-#{$objectFit} {
      object-fit: $objectFit;
    }
  }
}
$objectPositions: center, top, bottom, left, right;
@each $objectPosition in $objectPositions {
  img {
    &.object-position-#{$objectPosition} {
      object-position: $objectPosition;
    }
  }
}

a {
  color: initial;
  &:hover {
    color: initial;
  }
}

ol {
  margin-bottom: 0 !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-mml {
    max-height: 330px;
  }
  .vh-lg-100 {
    height: 100vh !important;
  }
}
